<html>
  <head>
    <title>Added Item</title>
  </head>
  <body>
    <h1>Added Item</h1>
    <form action="" method="post">
      ItemName:
      <input
        type="text"
        name="ItemName"
        placeholder="Enter Item name"
        required
      />
      <br />
      <br />
      BrandName:
      <input
        type="text"
        name="BrandName"
        placeholder="Enter the Brand name"
        required
      />
      <br />
      <br />
      Price:
      <input
        type="text"
        name="Price"
        placeholder="Enter Price"
        required
      />
      <br />
      <br />
      ItemType:
      <input
        type="text"
        name="ItemType"
        placeholder="Enter Item Type"
        required
      />
      <br />
      <br />
      Quantityadded:
      <input
        type="text"
        name="Quantityadded"
        placeholder="Enter Quantity Added Quantity"
        required
      />
      <br />
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
